* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: whitesmoke;
}

@keyframes animatebg {
  from {
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

#main {
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  #box {
    max-width: 400px;
    padding-inline: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    box-shadow: 0 0 100px rgb(205, 24, 90);
    border-radius: 20px;
    background:
      linear-gradient(black) padding-box,
      conic-gradient(from var(--rotate), black, rgb(212, 16, 88), black)
        border-box;
    border: 5px solid white;
    animation: animatebg 10s;

    img {
     width: 100%;
    }
    h1 {
      font-size: 2.5rem;
      font-family: system-ui;
      font-weight: 600;
    }
    p {
      margin-bottom: 20px;
      font-size: 1.2rem;
    }
  }
}
