* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: whitesmoke;
}

@keyframes animatebg {
  from {
    --rotate: 0deg;
  }
  to {
    --rotate: 360deg;
  }
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 30px;
}

#main #box {
  max-width: 250px;
  padding-inline: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  border-radius: 20px;

  background:
    linear-gradient(black, black) padding-box,
    conic-gradient(from var(--rotate), rgb(0, 0, 0), rgb(198, 23, 214), black)
      border-box;

  transition: all 0.5s ease-in-out;
}
#main #box:hover {
  border: 5px solid transparent;
  box-shadow: 0 0 100px rgb(205, 24, 24);
  animation: animatebg 4s linear infinite;
  color: rgb(160, 62, 158);
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.374);
}

#main #box img {
  width: 100%;
}

#main #box h1 {
  font-size: 2.5rem;
  font-family: system-ui;
  font-weight: 600;
  background-color: #000;
}

#main #box p {
  margin-bottom: 20px;
  font-size: 1.2rem;
  
}
